body {
  margin: 0;
  font-family: $bodyFont;
  font-size: $baseFontSize;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: underline;
  color: $black;
}

a:hover {
  color: $magenta;
}

