@import 'abstract/variables';
@import 'base/reset';

body {
  margin: 0;
  font-family: $bodyFont;
  font-size: $baseFontSize;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $dustyPink;
}

a:hover {
  color: $darkDustyPink;
}

code {
  font-family: $codeFont;
}

.content {
  width: 100%;
  margin: 2rem auto;
  max-width: 1440px;
  // padding: 0 2rem;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

.mw-1440 {
  max-width: 1440px;
}

.mw-1280 {
  max-width: 1280px;
}

.content--doc {
  display: flex;
  gap: 2rem;

  .doc-sidebar {
    width: calc(20% - 1rem);
  }

  main {
    width: calc(80% - 1rem);
  }
}

.flex {
  display: flex;
}

.fg-1 {
  gap: 1rem;
}

.fg-2 {
  gap: 2rem;
}

.fg-5 {
  gap: 0.5rem;
}

.fg-15 {
  gap: 1.5rem;
}

.jc-sb {
  justify-content: space-between;
}

header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $gray4;
  padding: 1rem 2rem;

  .container {
    padding: 0;
  }
}

.header-nav {
  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo-img {
  width: 40px;
}

.logo-heading {
  font-weight: $bold;
  font-size: 2rem;
  letter-spacing: -2px;

  a {
    text-decoration: none;
    color: $black;
  }

  a:hover {
    color: $black;
  }
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 155px);
}

.inline-list {
  padding: 0;
  margin: 0 0 0 2rem;

  li {
    display: inline;
    margin: 0 1rem 0 0;
  }

  li:last-child {
    margin-right: 0;
  }
}

.no-bullets-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.flex-vcenter {
  display: flex !important;
  align-items: center !important;
}

footer {
  background-color: $gray9;
  color: $white;
  padding: 2rem;

  .container {
    padding: 0;
  }

  a {
    color: $lightPurple;
  }
}

.logo-heading--mini {
  font-size: 1.75rem;
}

.footer-main {
  width: 30%;
}

.footer-nav {
  display: flex;
  gap: 3rem;
  
  &__col {
    width: 200px;
  }

  &__col-title {
    font-weight: $bold;
  }
}

.grid {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}



.alert {
  color: #4d4d4d;
  background-color: #f5f5f5;
  border: 1px solid #4d4d4d;
  width: 300px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 0.5rem;

  &--red {
    color: $darkRed;
    background-color: $lightRed;
    border: 1px solid $darkRed;
  }

  &--orange {
    color: $darkOrange;
    background-color: $lightOrange;
    border: 1px solid $darkOrange;
  }

  &--yellow {
    color: $darkYellow;
    background-color: $lightYellow;
    border: 1px solid $darkYellow;
  }

  &--lime {
    color: $darkLime;
    background-color: $lightLime;
    border: 1px solid $darkLime;
  }

  &--green {
    color: $darkGreen;
    background-color: $lightGreen;
    border: 1px solid $darkGreen;
  }

  &--teal {
    color: $darkTeal;
    background-color: $lightTeal;
    border: 1px solid $darkTeal;
  }

  &--blue {
    color: $darkBlue;
    background-color: $lightBlue;
    border: 1px solid $darkBlue;
  }

  &--cobalt {
    color: $darkCobalt;
    background-color: $lightCobalt;
    border: 1px solid $darkCobalt;
  }

  &--purple {
    color: $darkPurple;
    background-color: $lightPurple;
    border: 1px solid $darkPurple;
  }

  &--violet {
    color: $darkViolet;
    background-color: $lightViolet;
    border: 1px solid $darkViolet;
  }

  &--brown {
    color: $darkBrown;
    background-color: $lightBrown;
    border: 1px solid $darkBrown;
  }
}